.nav {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 1rem 3rem;
  z-index: 100;
  transition: all 0.3s ease;
}

.move-nav {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.938);
  transform: translateY(-72px);
  backdrop-filter: blur(20px);
  /* transition: all 0.3s ease; */
}

.secondary-nav {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.397);
  backdrop-filter: blur(20px);
  /* transition: all 0.3s ease; */
}

.logo {
  max-width: 5rem;
}

.nav--list {
  display: flex;
  gap: 5rem;
  list-style: none;
  margin-left: auto;
}

.nav--list-link:link,
.nav--list-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #ebeeeb;
  transition: all 0.3s ease;
}

.nav--list-link:hover {
  color: #00fa8e;
}

.nav--list-btn {
  border: 2px solid #00fa8e;
  padding: 1rem 2rem;
  border-radius: 10px;
  color: #00fa8e !important;
  transition: all 0.3s ease;
}

.nav--list-btn:hover {
  background-color: #a3dda36e;
}
